@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<p>
    Your account contains personal data that you have given us. 
    To download it, or have it permanently removed from our servers, please send an email to 
    <a href="mailto:data@notes.nxdomain.ca">data@notes.nxdomain.ca</a> from the email of the 
    account you wish to download information for, or have deleted.
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}