@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    Your email has been confirmed. You may now 
    <a asp-area="Identity" asp-page="/Account/Login">sign in</a> 
    and start writing notes.
</p>