@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
<p>
    If the email does not appear, check your junk folder. If it is not there, try again in 5 minutes, or file an 
    issue on <a href="https://github.com/lpt0/Notes/issues">GitHub.</a>
</p>

