@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
<hr />
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    <!-- No mail service set up; just give the user the confirmation link -->
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account.</a>
</p>
    }
    else
    {
<p>
    Please check your email to confirm your account.
</p>
<p>
    If the email does not appear, check your junk folder. If it is not there, try again in 5 minutes, or file an
    issue on <a href="https://github.com/lpt0/Notes/issues">GitHub.</a>
</p>
    }
}
