
@{
    /** About.cshtml
     *
     * This page gives an explanation of what this application is, and some
     * use cases for it. It also provides tips on how to get started to 
     * create a user and a note.
     * 
     * Author: Haran
     * Date: December 6th, 2020
     */
    ViewData["Title"] = "About";
}

<!-- A simple about page to describe this application and some use cases. -->
<h1>About this application</h1>
<p>
    This web-based application allows you to write short (or long) notes that you can view, edit, or delete later, on any internet-connected device, at any time.
</p>
<p>
    You also have the ability to create "groups", which you can use to organize notes into separate categories or collections.
    For example, you could have one group for all of your school notes, another for your shopping lists, and another collection for your personal notes or a to-do list.
</p>
<p>
    You can get started by clicking "Create a User" on the left to create your own user, then using "Create a Note" to write a note.
</p>
<p>
    Alternatively, you can click <a asp-controller="Users" asp-action="Create">here</a> to create a user,
    then click <a asp-controller="Notes" asp-action="Create">here</a> to write a new note.
</p>