@model Notes.Models.Note

@{
    /** Edit.cshtml
     * 
     * This page allows a user to edit properties of a note, including
     * the name, description, the content, and optionally, the group that 
     * this note is a part of. The user that created the note cannot be 
     * changed.
     * Users can also go to the page to delete this note from here.
     * 
     * Author: Haran
     * Date: December 6th, 2020
     */
    ViewData["Title"] = $"Edit note \"{Model.Name}\"";
}

<!-- Same heading as title -->
<h1>@ViewData["Title"]</h1>
<hr />
<div>
    <form asp-action="Edit">
        <!-- Same contents as the create page, except there is no user
         selector; users should not be changed after creating a note -->
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <!-- This is required to edit it, as an additional check -->
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" placeholder="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" placeholder="Description (optional)" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GroupId" class="control-label">Group (optional)</label>
            <select asp-for="GroupId" class="form-control" asp-items="ViewBag.GroupId">
                <!-- Blank option, if no group is needed -->
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Content" class="control-label">Content</label>
            <!-- Text area for the content
             The form control will round the corners of the text area,
             which fits with the other inputs -->
            <textarea asp-for="Content" class="note-content form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="form-group">
            <!-- Save the note -->
            <input type="submit" value="Save" class="btn btn-outline-primary" />
        </div>
    </form>
</div>

<div>
    <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
    <!-- Provide a delete button as well, just in case they choose to delete the note instead of changing it -->
    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
