/* Main content (everything outside of the header, navbars, and footer) */
main {
    padding: 1%; /* Add some space*/
}

/* Sidebar formatting */
.sidebar {
    width: 7%; /* And specify the width of the sidebar (anything bigger will wrap) */
    padding-left: 0.5%; /* And add a bit of space between the edge of the screen */
    display: flex; /* Use a flexbox for the sidebar */
    flex-direction: column; /* And arrange it as a column (top to bottom) */
    flex-wrap: wrap; /* Wrap anything */
    justify-content: flex-start;
    left: 0;
    top: 0;
    position: fixed; /* fix it to the left side of the display */
    height: 100%; /* and span the whole height of the display */
    padding-top: 0.25%; /* pad the top a bit to make it loko nicer */
    z-index: 10; /* Place it above other elements (footer) */
}

/* Lists within the sidebar */
.sidebar ul {
    list-style: none; /* Should have no bullet points */
    padding-left: 0; /* And should not be indented */
    border-bottom: solid; /* Add a line to separate each section */
    border-width: thin; /* Thin lines to separate it */
    margin-bottom: 5px; /* Specify the amount of space between each element */
}


/* Sidebar selectors for when it is dark */
.sidebar.bg-dark h6 {
    color: white; /* sidebar content should be stand out over anchors */
}

.sidebar.bg-dark a {
    color: lightgray; /* Make sidebar links this colour */
}

.note-content {
    width: 100%; /* Note contents should span the whole page */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* I like this font selection */
}

/* Selector specifically for the text area, which is used when creating/editing a note */
textarea.note-content {
    resize: vertical; /* Users should be able to resize the bottom of it */
    overflow-y: scroll; /* Scroll if its too large */
    height: 500px; /* Have a lot of space so the user can see what they wrote easily */
}

/* Table anchor links */
.table-anchor:hover {
     text-decoration: none; /* No underline on hover */
}

/* footer styling */
footer {
    bottom: 0;
    left: 7%; /* Since the sidebar is 7% in width, offset the footer by this much */
    position: fixed; /* Fix the footer to the bottom */
    z-index: 9; /* Below sidebar, above main content */
    width: 100%; /* Size to whole bottom of display */
    color: gray; /* Dark text, but not to the point of blending in */
}

footer a {
    color: #A0A0A0; /* Link to repo */
}

footer a:hover {
    color: #909090;
    text-decoration: none; /* No underline on hover */
}