@model Notes.Models.User

@{
    /** Create.cshtml
     * 
     * This page allows a user to create their own user, with their own 
     * username. After doing this, the user may begin to create notes.
     * 
     * Author: Haran
     * Date: December 6th, 2020
     */
    ViewData["Title"] = "Create a new user";
}

<h1>@ViewData["Title"]</h1>
<hr />
<!-- size of 5 looks good -->
<div class="col-md-5">
    <!-- The form looks good as-is; no changes here for now. The communication activity will likely change this. -->
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Username" class="control-label"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <!-- Use outline for consistency -->
            <input type="submit" value="Create" class="btn btn-outline-primary" />
            <!-- Consistency. -->
            <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
