@model Notes.Models.Group

@{
    /** TODO */
    // use the group name in title, as well as heading
    ViewData["Title"] = $"Delete group \"{Model.Name}\"?";
}

<h1>@ViewData["Title"]</h1>

<h3>Are you sure you want to delete this group?</h3>
<!-- Show the description, if it exists -->
@if (Model.Description != null && !Model.Description.Equals(""))
{
    <p>This group is described as @Model.Description.</p>
}

<hr />

<!-- Show a warning if there are notes in this group, and don't let them delete. -->
@if (Model.Notes.Count != 0)
{
<h6>There are notes in this group. Please move or delete them before trying to delete this group.</h6>
}
// there are no notes, so this group can be deleted
else
{
<!-- Additional warning -->
<h6>This action is IRREVERSIBLE. Only click delete if you are OK with deleting this group.</h6>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" />
</form>
}
<hr />
<a class="btn btn-outline-primary" asp-action="Index">Back to List</a>